<div class="container">

    <br>
    <h2>Projeto Atletas do Futuro</h2>    
    <br>
    <br>
    <p class="sobre">
        Escolinha de Futebol autorizada pelo Associação Desportiva São Caetano, com a função de orientar e ensinar a prática do futebol, 
        respeitando a individualidade de cada criança, assim como utilizando o esporte como socialização e educação.
        <br>
        <br> 
        Sob a supervisão do Professor e treinador <strong>Josias Jeferson de Oliveira</strong>, ex-atleta, e com uma carreira muito bem consolidada
        na área esportiva, tendo passagens como auxiliar técnico do Mauaense sob a liderança do técnico Biro Biro (ex-jogador do Corinthians). 
        Como treinador teve a oportunidade de desenvolver trabalhos significativos no Usac Suzano, União Mogi, Flamengo de Guarulhos, A.D. Guarulhos, 
        Guaratinguetá, Juventus da Mooca, Sertãozinho e A.D. São Caetano.</p>
         
            
<img class="mascote2" src="./assets/saocaetanomascote.png" alt="imagem mascote Escola A.D. São Caetano">
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <body>
        <a class="whatsapp-link" href="https://web.whatsapp.com/send?phone=5511976317577" target="_blank" rel="noopener" alt="contato com a escola de futebol via WhatsApp">
            <i class="fa fa-whatsapp"></i>
        </a>
    </body>

