<div class="container">

    <br>
    <h2>Sobre Nós</h2>    
    <br>
    <br>    
    <h3>Projeto Atletas do Futuro</h3>
    <br>
    <p>"Escolinha de Futebol autorizada pelo Associação Desportiva São Caetano, com a função de orientar e ensinar a prática do futebol, 
        respeitando a individualidade de cada criança, assim como utilizando o esporte como socialização e educação. 
        Sobre a supervisão do Professor e treinador <strong>Josias Jeferson de Oliveira</strong> ex-atleta, começou a jogar futebol com dez anos. 
        Passou por vários clubes, recebeu um convite do ex-jogador Biro Biro para ser auxiliar técnico do Mauaense, time em que o ex-corintiano 
        era técnico na época. Como treinador passou pelo profissional Usac Suzano, União Mogi, Flamengo de Guarulhos, AD Guarulhos, Guaratinguetá, 
        Juventus da Mooca, Sertãozinho e A.D. São Caetano."</p> 
<img class="mascote2" src="./assets/logo/saocaetanomascote.png" alt="imagem mascote Escola AD SCS">
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <body>
        <a class="whatsapp-link" href="https://web.whatsapp.com/send?phone=5511976317577" target="_blank" rel="noopener" alt="contato com a escola de futebol via WhatsApp">
            <i class="fa fa-whatsapp"></i>
        </a>
    </body>
