<div class="container">
    <h1>Academia de Futebol A.D. São Caetano</h1>
    <br>
    <h2><strong>Projeto Atletas do Futuro</strong></h2>
    <img class="mascote2" src="./assets/logo/saocaetanomascote.png" alt="imagem mascote Escola AD SCS">      
    <br>
    <h3>Professor Josias</h3>    
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <body>
        <a class="whatsapp-link" href="https://web.whatsapp.com/send?phone=5511976317577" target="_blank" rel="noopener" alt="contato com a escola de futebol via WhatsApp">
            <i class="fa fa-whatsapp"></i>
        </a>
    </body>
