<header>
    <img class="logo" src="../../../../assets/logo/scs_logo.png" alt="logo AD SCS">
    <!-- <img class="mascote" src="./assets/logo/saocaetanomascote.png" alt="imagem mascote Escola AD SCS"> -->
    

    <ul>
        <li>
            <a [routerLink]="['']">Home</a>
        </li>
        <li>
            <a [routerLink]="['sobre']">Sobre</a>
        </li>
        <li>
            <a [routerLink]="['contato']">Contato</a>
        </li>
        
        <li>
            <button type="button" (click)="toggle()">
                <img src="../../../../assets/darkTheme/{{icon}}.svg" 
                alt="Clique aqui para alterar o Theme do site {{ textTheme }}">
            </button>
        </li>
    </ul>    
</header>