/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

//criando reset CSS
*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    list-style: none; // serve p tirar os bullets da LI
    font-family: "roboto", Arial, Helvetica, sans-serif;
    button{
        background: none;
    }
}

:root{
    --primary: hsl(238, 88%, 49%);
    --body: #FDFDFD;
    --text-menu: #FDFDFD;
    --text-body: #FDFDFD;
}

:root .dark-theme{
    --primary:hsl(238, 55%, 21%);
    --body: hsl(238, 55%, 21%);
    --text-menu: #FDFDFD;
    --text-body: #000000;
}

body{
    // background-color: var(--body);
    background-image: url("./assets/background_field.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

     
}

.logo{
    width: 150px;
    justify-content:center;
    align-items: center;
}

// .mascote{
//     width: 200px;
//     justify-content: center;    
// }

.container{
    width: 900px;
    margin: 0 auto;    

    h1{
        font-weight:700;
        font-size: 51px;
        margin: 20px 0 10px;        
     }

     h2, h3{
        font-weight: 700;
        font-size: 60px;
     }
     
     p{
         font-weight: 400;
         font-size: 25px;
     }
     
     h1, h2, h3{
         color: var(--text-body);
         text-align: center;
     }

     p{
        color: var(--text-body);
        text-align: justify;
     }
}

/* Mobile styles */
@media (max-width: 767px) {
    /* Styles for devices with a maximum width of 767px */
    
  }
  
  /* Tablet styles */
  @media (min-width: 768px) and (max-width: 1023px) {
    /* Styles for devices with a minimum width of 768px and a maximum width of 1023px */
  }
  
  /* Desktop styles */
  @media (min-width: 1024px) {
    /* Styles for devices with a minimum width of 1024px */
  }
  



