/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

//criando reset CSS
*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    list-style: none; // serve p tirar os bullets da LI
    font-family: "roboto", Arial, Helvetica, sans-serif;
    button{
        background: none;
    }
}

:root{
    --primary: #1976D2;
    --body: #fff;
    --text-menu: #fff;
    --text-body: #4b4b4b;
}

:root .dark-theme{
    --primary: #0D47A1;
    --body: #4b4b4b;
    --text-menu: #fff;
    --text-body: #fff;
}

body{
    background-color: var(--body);
}

.logo{
    width: 200px;
}

.mascote{
    width: 200px;    
}

.container{
    width: 510px;
    margin: 0 auto;

    h1{
        font-weight: 700;
        font-size: 30px;
        margin: 50px 0 10px;
     }
     
     p{
         font-weight: 400;
         font-size: 20px;
     }
     
     h1, p{
         color: var(--text-body);
     }
}

