<div class="container">
    <h1>Fale Conosco</h1>
    
    <p>Unidade Vila Formosa - Professor Josias</p>
    <hr>
    <img class="logo" src="../../../../../assets/contato/whatsapp.png" alt="contato com a escola de futebol via WhatsApp">
    
    <img class="logo" src="../../../../../assets/contato/facebook.png" alt="contato com a escola de futebol via Facebook">
    <hr>
    <img class="logo" src="../../../../../assets/contato/instagram.png" alt="contato com a escola de futebol via Instagram">

</div>