<div class="container">
    <h1>Fale Conosco</h1>
    
    <p>Unidade Vila Formosa - Professor Josias</p>
    <img class="logo" src="../../../../../assets/contato/whatsapp.png" alt="contato com a escola de futebol via WhatsApp">
    

    <h2>Endereço</h2>
    <p>Rua Pedro Voss, 1045 - Vila Carrao, São Paulo - SP, 03437-000</p>
   
    <h2>Siga-nos nas Redes Sociais</h2>
    <img class="logo" src="../../../../../assets/contato/facebook.png" alt="contato com a escola de futebol via Facebook">
    
    <img class="logo" src="../../../../../assets/contato/instagram.png" alt="contato com a escola de futebol via Instagram">

    
    

</div>