<div class="container">
  
    
    <br>
    <h2>Endereço</h2>
        <p>Rua Pedro Voss, 1045 - Vila Carrão, São Paulo - SP, 03437-000</p>
    <br>
    <br>
    <h2>Siga-nos nas Redes Sociais</h2>
    <img class="mascote2" src="./assets/logo/saocaetanomascote.png" alt="imagem mascote Escola AD SCS">
    <img class="img_facebook" src="../../../../../assets/contato/facebook.png" alt="contato com a escola de futebol via Facebook">
    <br>
    <img class="img_instagram" src="../../../../../assets/contato/instagram.png" alt="contato com a escola de futebol via Instagram">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <body>
        <a class="whatsapp-link" href="https://web.whatsapp.com/send?phone=5511976317577" target="_blank" rel="noopener" alt="contato com a escola de futebol via WhatsApp">
            <i class="fa fa-whatsapp"></i>
        </a>
    </body>    
</div>
